@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin display_grid($minmax, $rule, $align, $justify) {
  display: grid;
  grid-template-columns: repeat($rule,$minmax);
  align-items: $align;
  justify-items: $justify;
}