//Var Global

$global-font-family : 'Open Sans', sans-serif;
$global-background-color: #8D8D8D;
$global-background-color-secondary: #B3B3B3;
$global-background-color-tertiary: #808080;
$global-background-border-color: #FFA500;

//Var Utilites