//Var Global

$global-font-family : 'Open Sans', sans-serif;
$global-background-color: #8D8D8D;
$global-background-color-secondary: #B3B3B3;
$global-background-color-tertiary: #808080;
$global-background-border-color: #FFA500;

//Var Utilites

$background-switch-color: #1C1C1C;
$background-switch-btn-color: blue;
$background-volume-white-color: #fff;

$background-color-volume: #3071a9;
$background-color-volume-secondary: #367ebd;
$box-shadow-volume: #000000;
$box-shadow-volume-s: #0d0d0d;