@import "../../../scss/abstracts/mixins",  "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/functions";

.Volume {
    @extend .width-100;    
    @extend .cursor-pointer;

    height: 15%;

    .inputRange-volume {
        @extend .width-100;
        -webkit-appearance: none;
        background: transparent;
        @extend .cursor-pointer;


        &::-webkit-slider-thumb {
            @include border-radius(3px);
            @extend .cursor-pointer;
    
            -webkit-appearance: none;
            border: 1px solid $background-volume-white-color;
            height: 36px;
            width: 16px;
            background: $background-volume-white-color;
            margin-top: -14px;
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
        }

        &::-moz-range-thumb {
            @include border-radius(3px);
            @extend .cursor-pointer;
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
    
            border: 1px solid $background-volume-white-color;
            height: 36px;
            width: 16px;
            background: $background-volume-white-color;
        }

        &::-ms-thumb {
            @include border-radius(3px);
            @extend .cursor-pointer;
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
    
            border: 1px solid $background-volume-white-color;
            height: 36px;
            width: 16px;
            background: $background-volume-white-color;
        }

        &::focus {
            outline: none;
        }
    
        &::-ms-track {
            @extend .width-100;
            @extend .cursor-pointer;
    
            height: 8.4px;
            background: transparent;
            border-color: transparent;
            color: transparent;
            border-width: 16px 0;
        }
    
        &::-webkit-slider-runnable-track {
            @extend .width-100;
            @extend .cursor-pointer;
            @include border-radius(1.3px);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
    
    
            border: .2px solid $background-volume-white-color;
            height: 8.4px;
            background: $background-color-volume;
        }
        &:focus::-webkit-slider-runnable-track {
            background:$background-color-volume-secondary;
        }
    
        &::-moz-range-track {
            @extend .width-100;
            @extend .cursor-pointer;
            @include border-radius(1.3px);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
    
            border: .2px solid $background-volume-white-color;
            height: 8.4px;
            background: $background-color-volume;
        }
    
        &::-ms-fill-lower {
            @include border-radius(2.6px);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
    
            background: #2a6495;
            border: .2px solid $background-volume-white-color;
        }
    
        &:focus::-ms-fill-lower {
            background:$background-color-volume;
        }
    
        &::-ms-fill-upper {
            @include border-radius(2.6px);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume);
            @include box_shadow(0, 0px, 0px, 1px, $box-shadow-volume-s);
    
            background: $background-color-volume;
            border: .2px solid $background-volume-white-color;
        }
    
        &:focus::-ms-fill-upper {
            background:$background-color-volume-secondary;
        }
    }
}